CORS_ORIGIN = '<CLIENT_DOMAIN_WITHOUT_SLASH>'

PRIV_KEY = '<RANDOM_KEY>'

SALT_ROUNDS = <BCRYPT_SALT_ROUNDS>

MYSQL_HOST = '<DB_HOST>'
MYSQL_USER = '<DB_USER>'
MYSQL_PASS = '<DB_PASS>'
MYSQL_NAME = '<DB_NAME>'